<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}flask_WTF form  {% endblock %}</title>
</head>
<body>

        <h1>flask_WTF Registertion</h1>
       
  

    {%with messages=get_flashed_messages(with_categories=True) %}
    {% if messages %}
        {% for categories, msg in messages%}
        <p style="color: red;" >{{msg}}</p>
        {% endfor %}
    {% endif %}
    {% endwith %}
    {% block content %} {% endblock %}
    
</body>
</html>